.heading-subtitle {
    color: aqua;
    font-size: 1.7em;
}

.subtitle {
    font-size: 6em;
    font-weight: 100;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    text-shadow: 0px 0px 50px rgba(0, 255, 255, 0.867);
}

.subtitle b {
    font-weight: bold;
}

.details {
    color: white;
    font-size: 2em;
    font-weight:lighter;
}

.cstm-btn{
    margin-top: 1em;
  background: #5E5DF0 !important;
  border-radius: 999px !important;
  box-shadow: #5E5DF0 0 10px 20px -10px !important;
  box-sizing: border-box !important;
  font-size: 1.5em !important;
  line-height: 1.5em !important;
  opacity: 1 !important;
  outline: 0 solid transparent !important;
  padding: 0.3em 1em !important;
  border: 0 !important;
}



/* GET VALIDATION FROM TOP 1% */

.validation-title {
    font-size: 4em;
    font-weight: bold;
    padding-top: 3.5em;
}

