.main-background {
    background-image: linear-gradient(156deg, rgba(0, 0, 0, 0.331), rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.448)), url("../images/Buildoor\ website_Background-02.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 3em;

    text-align: center;
    color: white;
}