:root {
  --cstm-white: #F9F9F9;
  --cstm-light-pink: #F6C6EA;
  --cstm-light-purple: #C490E4;
  --cstm-light-green: #CDF0EA;
  --cstm-black: #0E0E0E;
  --cstm-gray: #474747;
  --cstm-blue-purple: #5E5DF0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--cstm-white) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
