.introSection {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 5em 1em 5em 30%;
}

.heading {
    font-size: 4em;
    font-weight: bold;
    text-align: left;
}

.introSection .details {
    font-size: 2em;
    text-align: left;
}

.numbers-list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.numbers{
    background: linear-gradient(90deg, rgb(0, 12, 14), rgb(30, 0, 40)) padding-box,
              linear-gradient(90deg, rgb(0, 255, 247), rgb(230, 0, 255)) border-box;
  border: 2px solid transparent;
  border-radius: 1em;
  margin: 1em;
  padding: 0.5em 5%;
}

.title {
    font-size: 2em;
    font-weight: bold;
}